@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CONTAINER */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* HEADER */
header {
    list-style: none;
    background-image: linear-gradient(to right bottom, #134e5e, #10616c, #187476, #2c877d, #479a80, #53a889, #60b691, #6ec499, #6bd2ad, #67e0c3, #63edd9, #5ffbf1);
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style: none;
    display: flex;
}

.header ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
}

.header ul li a:hover {
    text-decoration: underline;
}

.header img {
    width: 80px;
}

.material-icons {
    color: rgba(255, 255, 255, 0.54);
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons:hover {
    color: rgba(255, 255, 255, 1);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: black;
    background: linear-gradient(to right, #ECE9E6, #FFFFFF);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.projects {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.projects img {
    width: 250px;
    height: 220px;
    border-radius: 10px;
}

.projects h1 {
    text-align: center;
    margin: 20px 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.pItem {
    text-align: center;
    font-size: 22px;
    padding: 10px;
}

.pItem p {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background-image: linear-gradient(to right bottom, #134e5e, #10616c, #187476, #2c877d, #479a80, #53a889, #60b691, #6ec499, #6bd2ad, #67e0c3, #63edd9, #5ffbf1);
}

footer p {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer span {
    margin: 10px;
    font-size: 17px;
}

.profileGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.personal {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transform: scale(0.8);
    transition: all ease 0.2s;
}

.github {
    margin: 5px;
    width: 35px;
    height: 35px;
}

.profile img:hover {
    transform: scale(1);
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .projects {
        height: 0%;
    }

    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
        flex-direction: column;
        height: 180px;
    }

    .header img {
        margin-bottom: 10px;
    }

    .container {
        max-width: 440px;
    }

    .aboutUs {
        height: 0%;
    }

    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .profileGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
}